<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3	class="mb-0">Formulario para dar en adopción</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
                            </div>
                            <div class="form-group">
                                <label for="tamano">Tamaño</label>
                                <input type="text"	class="form-control"	id="tamano"	placeholder="Ejemplo: Grande, medio, pequeño" #tamano>
                            </div>
                            <div class="form-group">
                                <label for="raza">Raza</label>
                                <input type="text"	class="form-control"	id="raza"	placeholder="Ingresar la raza" #raza>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Edad</label>
                                <input type="number"	class="form-control"	id="nombre"	placeholder="Ingresar edad(meses)..." #edad>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Sexo</label><br>
                                <input type="radio" id="male" name="gender" value="masculino" #sexo>
                                <label for="male">Masculino &nbsp;</label>
                                <input type="radio" id="female" name="gender" value="femenino" #sexo>
                                <label for="female">Femenino</label><br>
                            </div>
                            <div class="form-group">
                                <!--<label for="Imagen	Url">Foto de la mascota	</label><br>
                                <img src="assets/images/conejo1.jpg" height="200"> <br/>
                                <input type='file' (change)="onSelectFile($event)">-->
                                
                                <select class="form-control" name="animal" (change)="MyMethod($event.target.value)">
                                    <option >Seleccione una opción</option>
                                    <option >Gato</option>
                                    <option >Perro</option>
                                    <option >Conejo</option>
                                    
                                </select>
                            
                            </div>
                                <button	type="submit"	class="btn-card" (click)="guardar(nombre.value,tamano.value,raza.value,edad.value,sexo.value)">Enviar</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <hr	class="mb-5">
    <div	class="row row-flex">
        <app-info-perros *ngFor="let x of perros" [perros]=x></app-info-perros>
       
    </div>
</div>
