
    <div class="card-content">
        <div class="card-img">
             
            <img src={{perros.url}} height="150"> <br/> <br/>

        </div>
        <div class="card-desc">
            <h3>{{perros.nombre}}</h3>
            <p>Edad: {{perros.edad}}meses<br>
               Raza: {{perros.raza}}<br>
               Tamaño: {{perros.tamano}}<br>
               Sexo: {{perros.sexo}}</p>
            <a href="#" class="btn-card">Ver</a>
            			
        </div>
    </div>


